/* Initial jumbotron */

*,
*:after,
*::before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}

@font-face {
		font-weight: normal;
		font-style: normal;
		font-family: 'ecoicons';
		src: url("../fonts/ecoicons/ecoicons.eot");
		src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
}

body {
	left: 0;
	margin: 0;
	overflow: scroll;
	position: relative;
}

/* Initial menu */
.menu {
	background: #202024 url('images/black-thread.png') repeat left top;
	left: -285px; /* start off behind the scenes */
	height: 100%;
	position: fixed;
	width: 285px;
}

/* Basic styling */
.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.row {
	margin: 0;
}

.header {
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid #ddd;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 17px;
	padding: 15px;
}

.head h1 {
	color: #202024;
	/* color: #000099; 'Shift', sans-serif;*/
	font-size: 40px;
	font-family:georgia; 
	font-weight: bold;
}

.jumbotron {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	padding-top: 0;
}
/*popup content styling*/
.popup-content{
	display: block;
overflow: auto;
width: 720;
}

#search-text-input{
  border-top: thin solid #e5e5e5;
border-right: thin solid #e5e5e5;
border-bottom: 0;
border-left: thin solid #e5e5e5;
box-shadow: 0px 1px 1px 1px #e5e5e5;
height: 40px;
outline: 0;
float: left;
padding: .4em 0 .4em .6em;
width: 665px;
display: inherit;
}
#search-button-holder{
         background-color: #f1f1f1;
border-top: thin solid #e5e5e5;
box-shadow: 1px 1px 1px 1px #e5e5e5;
cursor: pointer;
float: left;
position: relative;
display: inherit;
height: 39px;
text-align: center;
width: 50px;
        }
#search-button-holder img{
    margin: 4px;
width: 20px;
padding-top: 6;
}


.rssitemlist ul {
border-top: 1px solid #e5e5e5;
list-style: none;
padding: 0;
width: 720;
box-shadow: 0px 1px 1px 1px #e5e5e5;
}

.rssitemlist li {
	border-bottom: 2px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
border-left: 1px solid #e5e5e5;
font-family: 'Open Sans', sans-serif;
padding-bottom: 10px;
padding-left: 10px;
padding-top: 10px;
float: left;
background-color: white;
box-shadow: 0px 1px 1px 1px #e5e5e5;
width: inherit;
display: inline-block;
}

.rssitemlist a {
	color: black;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
/*
.jumbotron {
  background-image:url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png');
  height: 100%;
  background-size: cover;
  overflow:scroll;
}


.jumbotron{
margin: 0px;
font-size: 12px;
font-family: sans-serif;

}
*/
.jumbotron .container {
	top: 100px;
}

.jumbotron .feedcontainer {
	height: auto;
	width: 1300px;
	float: right;
	background-color: activeborder;
}

.feed {
	height: inherit;
	width: inherit;
	float: left;
	background:
		url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png')
		center center no-repeat;
	background-size:cover;	
	background-repeat: repeat;
}

.feed  p {
	font-size: 20px;
	font-weight: lighter;
	color: black;
	text-shadow: none;
}

.jumbotron h1 {
	color: #fff;
	/* color: #000099;*/
	font-size: 40px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.learn-more {
	background-color: #f7f7f7;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.learn-more a {
	color: #00b0ff;
}

.menu ul {
	border-top: 1px solid #636366;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	border-bottom: 1px solid #636366;
	font-family: 'Open Sans', sans-serif;
	line-height: 45px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-top: 3px;
}

.menu a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon li{
	display: inline-block;
	display: inline-block;
padding-left: 2px;
padding-top: 3px;
border-bottom: none;
}

.icon-close {
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
}

.add-button {
	
cursor: pointer;
padding-right: 10px;
padding-top: 10px;
margin-left: 145;
}

.rss-button{
	cursor: pointer;
padding-right: 10px;
padding-bottom: 10px;
/* margin-left: 145; */
float: right;

}

.rssitemlist{
	float:left;
}
/*
.add-button ::before {
		content: "\e005"
}*/

.icon-menu {
	color: #000000;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.icon-menu i {
	margin-right: 5px;
}